# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
## 1. Python
## 2. R
## 3. SQL
## 4. Java
## 5. Julia

## Objectives: 
* List commonly used libraries by data scientists.
* Write arithmetic expressions in Python.
* Create a table.

## Some of the commonly used libraries used by Data Scientists include: 
## 1. TensorFlow
## 2. NumPy
## 3. Matplotlib 
## 4. Pandas
## 5. SciKit-Learn

| Data Science Tools|
| ------------------ |
| Project Jupyter |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

print(9 + 8)
print(7 - 6)
print(5 * 4)
print(3 / 2)
print(1 + 2 + 3 + 4)
print(12 - 16 + 7)

In [16]:
### This a simple arithmetic expression to mutiply then add integers. 

print((3 * 4 ) + 5)

17

In [17]:
 ### This will convert 200 minutes to hours by diving by 60
print(200 / 60)

3.3333333333333335

## Author 
B Delariva